*.env
env
.dockerignore
Dockerfile
.gcloudignore
app.yaml
__pycache__/
app.ini
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/