{% extends "layout.html" %}

{% block body %}

    <h1>
        Super Weather API <span>(SWAPI)</span>
    </h1>

    <form action="/get/" method="get">
        <input autocomplete="off" autofocus placeholder="Place" type="text" name="search">
        <button type="submit">Search</button>
    </form>

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

{% endblock %}